#coupleInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 13px;
}

#coupleInfo h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 50px 0;
}

.c_info_Tbl {
    width: 800px;
}

.c_info_Tbl tr,
.c_info_Tbl td {
    vertical-align: middle;
    height: 35px;
    border-bottom: black 1px solid;
}

.c_info_Tbl .t_1 {
    width: 120px;
}

.c_info_Tbl .t_2 {
    padding-left: 5px;
    width: 160px;
}

.w_day input {
    width: 45px;
}

.m_name input,
.w_name input {
    width: 80px;
}

.m_tel input,
.w_tel input {
    width: 110px;
}

#coupleInfo td textarea {
    width: 550px;
    height: 100px;
    resize: none;
    margin: 20px 0;
}

.c_info_Tbl select {
    border: rgba(128, 128, 128, 0.15) 1px solid;
    width: 80px;
}
.c_info_Tbl input {
    padding: 0 6px;
    border: rgba(128, 128, 128, 0.15) 1px solid;
}
#coupleInfo tr:last-child {
    height: 120px;
    border: none;
}
#coupleInfo tr:last-child td {
    border: none;
}

#coupleInfo input[type="button"] {
    background-color: black;
    border: none;
    color: white;
    width: 50px;
    font-size: 11px;
    height: 25px;
    vertical-align: middle;
}

.c_info_Memo {
    margin: 0 20px;
}

.c_memo_form {
    display: flex;
    width: 800px;
    margin-top: 30px;
}
.c_memo_form .day {
    width: 110px;
    margin: 0 15px;
}
.c_memo_form .memo {
    width: 550px;
    margin: 0px 10px;
    height: auto;
}

.c_info_btn {
    margin: 50px 0;
}

#coupleInfo .t_2 .mod_p {
    width: 70px;
    font-size: 10px;
}

.c_info_Tbl .memo_frm {
    display: flex;
    justify-content: center;
    align-items: center;
}
#coupleInfo td .text_btn {
    position: relative;
    margin-left: 30px;
}
