#plannerInfo {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#plannerInfo h2 {
    font-size: 30px;
    font-weight: bold;
}

.plannerTbl {
    border-collapse: collapse;
    width: 600px;
    text-align: center;
    margin: 30px 0;
    font-size: 15px;
}
.plannerTbl tr,
.plannerTbl td {
    border-bottom: black 1px solid;
    height: 40px;
    font-size: 15px;
    padding-top: 18px;
}
.plannerTbl .plannerTbl_1 {
    width: 100px;
    text-align: center;
}
.plannerTbl .plannerTbl_2 {
    text-align: left;
}

.plannerTbl textarea {
    width: 450px;
    height: 600px;
}
.plannerTbl .plannerTbl_2 input[type="text"] {
    border: none;
    /* border-bottom: 2px black solid; */
    background-color: rgba(220, 220, 220, 0.301);
    padding: 4px;
}

#plannerInfo input[type="button"] {
    background-color: black;
    border: none;
    color: white;
    width: 50px;
    font-size: 11px;
    height: 25px;
}
.plannerTbl .memo,
.plannerTbl tr:last-child {
    border: none;
}

.plannerTbl .memo_1 {
    position: relative;
    top: -585px;
}
#plannerInfo .plannerInfo_oth {
    display: flex;
}
.plannerInfo_oth input {
    margin: 0 5px;
}
