.board_view {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.view_tbl {
    border-collapse: collapse;
    width: 800px;
    text-align: center;
    margin: 30px 0;
    font-size: 15px;
}
.view_tbl tr,
.view_tbl td {
    border-bottom: black 1px solid;
    height: 40px;
    font-size: 15px;
    padding-top: 18px;
}

.view_tbl .t1 {
    width: 40px;
}
.view_tbl .t3 {
    width: 80px;
}
.view_tbl .t4 {
    width: 120px;
}
.view_tbl td:last-child,
.view_tbl tr:last-child {
    border: none;
}

.board_view input[type="button"] {
    background-color: black;
    border: none;
    color: white;
    width: 50px;
    font-size: 11px;
    height: 25px;
}

.view_tbl .content {
    height: 400px;
    text-align: left;
}
